.sidebar {
  background-color: rgb(86, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(86, 0, 0, 0.5) 0%,
    rgb(0, 20, 92, 0.5) 100%
  );
  position: fixed;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  row-gap: 20px;
  z-index: -1;
  top: 70px;
  visibility: hidden;
  justify-content: space-between;
  align-items: center;
  width: 78px;
  height: 0;
  overflow: hidden;
  padding: 0px 4px;
  bottom: 0;
  border-bottom-right-radius: 30px;
  @media (max-width: 768px) {
    display: none;
  }
  transition: all ease 0.5s;
}
.sidebar ul {
  opacity: 0;
}
.sidebar:has(.active) {
  overflow: hidden;
}
.sidebar.active {
  overflow: visible;
  visibility: visible;
  height: 280px;
}
.sidebar.active .hamburg-side {
  left: 85%;
}
.sidebar ul {
  margin-top: 20px;
  row-gap: 20px;
  padding-left: 5px;
  transition: all 0.45s;
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}
.sidebar.active ul {
  opacity: 1;
}
.sidebar ul li .tooltip-side {
  position: absolute;
  height: 35px;
  left: 142px;
  width: 122px;
  top: 0px;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  line-height: 35px;
  font-size: 1.6rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  color: black;
  pointer-events: none;
}
.sidebar ul li:hover .tooltip-side {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}
/* .sidebar .link-text {
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.5s;
}
.sidebar.active .link-text {
  opacity: 1;
  pointer-events: auto;
} */
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  margin-right: 22px;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  color: #11101d;
  background: #ffffff;
  scale: 0.9;
}
.sidebar ul li a:active {
  scale: 0.8;
}
.sidebar ul li a:hover .inverted {
  filter: invert(0);
}
.icon-div {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 30%;
}
.icon-div:active {
  scale: 0.8;
}
.icon {
  width: 100%;
}
.test {
  background-color: rgb(19, 19, 19);
  min-height: 100svh;
}
